@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic);


/* Base Format */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', Georgia, serif;
  height: 100%;
}


/* Font Treatments */

a {
  text-decoration: none;
}

h1 {
  font-size: 1em;
}

ul {
  list-style: none;
}


/* Site Header */

.site-header {
  display: flex;
}

.site-header {
  background-color: red;
}

.site-nav {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}


/* Site Content */

.site-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 60%;
}

.column-left {
  background-color: blue;
  flex: 0 0 auto;
  margin-right: .5em;
  text-align: right;
}

.column-right {
  background-color: orange;
  flex: 1 1 auto;
}

.trivia-container {
  border: 1px solid red;
  margin-bottom: 1em;
}

.question {
  background-color: purple;
}

.column-right h2 {
  background-color: purple;
  margin-top: 1em;
}

.trivia-choices li {
  background-color: green;
  border: 1px solid black;
  line-height: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}


/* Site Footer */

.site-footer {
  background-color: yellow;
  text-align: center;
}