<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>


/* Base Format */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  height: 100%;
}


/* Font Treatments */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* Site Container */

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
}


/* Site Header */

.site-header {
  margin: 0 auto;
}

.nav-list {
  display: flex;
  font-size: .7em;
  font-weight: 700;
  justify-content: space-between;
  line-height: 3em;
}


/* Site Content */

.trivia-container {
  border: 2px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto 1em auto;
}

  @media (min-width: 320px) {
    .site-header, .trivia-container {
      width: 90%;
    }
  }

  @media (min-width: 414px) {
    .site-header, .trivia-container {
      width: 80%;
    }
  }

  @media (min-width: 768px) {
    .site-header, .trivia-container {
      width: 50%;
    }
  }  

  @media (min-width: 1024px) {
    .site-header, .trivia-container {
      width: 50%;
    }
  }

  @media (min-width: 1600px) {
    .site-header, .trivia-container {
      width: 30%;
    }
  }

.content-left {
  border-right: 2px solid #000;
  flex: 0 0 auto;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 1.5em 1em 1.5em 1em;
  text-align: right;
}

.content-right {
  flex: 1 1 auto;
  text-align: left;
}

.trivia-question {
  border-bottom: 2px solid #000;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 1.5em 1em 1.5em 1em;
}

.trivia-score {
  font-size: 1em;
  font-weight: 700;
}

.choice {
  border-bottom: 2px solid #000;
  font-size: .9em;
  font-weight: 100;
  line-height: 1.5em;
  padding: 1.5em 1em 1.5em 1em;
}

.choice:hover {
  background-color: #FF0000;
  transition: .5s;
}

.choice:last-child {
  border-bottom: none;
}


/* Site Animation */

.animation {
  animation-duration: 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in {
  animation-name: fade-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fade-out {
  animation-name: fade-out;
}

@keyframes incorrect {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.incorrect {
  animation-name: incorrect;
}


