@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,700,300);


/* Base Format */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8EDD1;
  color: #000;
  font-family: 'Roboto Slab', Georgia, serif;
  height: 100%;
}


/* Font Treatments */

a {
  text-decoration: none;
}


ul {
  list-style: none;
}


/* Site Logo */

.diamond-logo { 
  border: 2px solid #000;
  border-radius: 0px; 
  height: 3em;
  margin: 0 auto 2.2em auto;
  padding: .7em;
  width: 3em; 
  -webkit-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
      transform: rotate(45deg); 
}

.diamond-logo > i {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); 
}


/* Site Header */

.site-header {
  background-color: #F8EDD1;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);  
  font-size: .7em;
  font-weight: 700;
  line-height: 4em;
  margin: 0 auto;
  padding: 0 2em 0 2em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.nav-list li:nth-child(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: left;
}

.nav-list li:nth-child(2) {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 auto;
      -ms-flex: 3 0 auto;
          flex: 3 0 auto;
  padding-right: .3em;
  text-align: right;
}

.nav-list li:nth-child(3) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: right;
}


/* Site Content */

.site-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6em;
}

.site-info {
  margin: 0 auto 2em auto;
  text-align: center;
}

.site-info p {
  font-size: 1.2em;
  font-weight: 700;
}

.trivia-container {
  border: 2px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0 auto 1.5em auto;
}

.trivia-container:last-child {
  margin-bottom: 2em;
}

  @media (min-width: 320px) {
    .site-info, .trivia-container {
      width: 90%;
    }
  }

  @media (min-width: 414px) {
    .site-info, .trivia-container {
      width: 80%;
    }
  }

  @media (min-width: 768px) {
    .site-info, .trivia-container {
      width: 70%;
    }
  }  

  @media (min-width: 1024px) {
    .site-info, .trivia-container {
      width: 50%;
    }
  }

  @media (min-width: 1200px) {
    .site-info, .trivia-container {
      width: 45%;
    }
  }  

  @media (min-width: 1600px) {
    .site-info, .trivia-container {
      width: 30%;
    }
  }

.content-left {
  border-right: 2px solid #000;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 1.5em 1em 1.5em 1em;
  text-align: right;
}

.content-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.trivia-number {
  font-size: .9em;
  font-weight: 700;
  text-align: right;
}

.trivia-question {
  border-bottom: 2px solid #000;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 1.5em 1em 1.5em 1em;
}

.choice {
  border-bottom: 2px solid #000;
  font-size: .9em;
  font-weight: 100;
  line-height: 1.5em;
  padding: 1.5em 1em 1.5em 1em;
}

.choice:hover {
  background-color: #FAF4E3;
  -webkit-transition: .5s;
          transition: .5s;
}

.choice:last-child {
  border-bottom: none;
}

.answered {
  opacity: .2;
  filter: alpha(opacity=20);
}

.correct:after {
  content: "\f00c";
  font-family: FontAwesome;
  padding: 0 1em 0 1em;
  -webkit-transition: .5s;
          transition: .5s;
}


/* Site Footer */

.site-footer {
  font-size: .7em;
  font-weight: 700;
  margin-bottom: 3em;
  text-align: center;
}


/* Site Animation */

.animation {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade-l {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-l {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
            transform: none;
  }
}

.fade-l {
  -webkit-animation-name: fade-l;
          animation-name: fade-l;
}

@-webkit-keyframes fade-r {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-r {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
            transform: none;
  }
}

.fade-r {
  -webkit-animation-name: fade-r;
          animation-name: fade-r;
}